<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DM Screen</title>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
</head>
<body>
    <h1>DM Soundboard</h1>

    {% for sound in sounds %}
        <button onclick="playSound('{{ sound }}')"></button><br>
    {% endfor %}

    <script>
        const socket = io();

        function playSound(filename) {
            socket.emit("play_sound", { filename: filename });
        }
    </script>
</body>
</html>